body {
  background-color: #282c34;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.App {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer li {
   display:inline; 
   padding: 0 10px;
}

footer a {
  color: white;
}

li {
  list-style-type: none;
}

.explanatory-text {
  font-style: italic;
}

.temporary-header {
  font-size: 10em;
}

.temporary-subhead {
  font-size: 5em;
}