body {
  background-color: #282c34;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.App {
  color: white;
  text-align: center;
}

footer {
  align-items: center;
  margin-top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}

button {
  background: transparent;
  color: white;
  border-color: white;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: white;
  text-decoration: none; 
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  padding: 10px;
}

.navbar a {
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.explanatory-text {
  font-style: italic;
}

.temporary-header {
  font-size: 10em;
}

.temporary-subhead {
  font-size: 3em;
}