body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.App {
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: blue;
}

button {
  background: transparent;
  color: blue;
  border-color: blue;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  font-family: inherit;
  font-size: inherit;
}

footer {
  margin-top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  padding: 10px;
}

.navbar a {
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer a {
  padding-right: 20px;
}

.explanatory-text {
  font-style: italic;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.temporary-header {
  font-size: 10em;
}

.temporary-subhead {
  font-size: 3em;
}